
<html>
	<head>
		<style>
			body {
				background-color: skyblue;	
			}

			h1 {
				text-transform: uppercase;
				font-size: 48px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<% include partial/nav.ejs %>
		<h1> Welcome to the Home Page </h1>
	</body>
</html>
